<div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let survey of surveys">
        <div class="card">
            <div class="card-header">
                <strong>{{survey.name}}</strong>
            </div>
            <div class="card-body">
                {{survey.description}}
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button type="button" class="btn btn-block btn-primary" routerLink="/base/survey" (click)="sendMessage(survey) ">Fill survey</button>
                </div>
            </div>
        </div>
    </div>
</div>