<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Diet Survey
        </div>
        <div class="card-body">
          This survey is about changes in the meal timetable within the company.
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-primary" routerLink="/base/forms">Fill survey</button>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Diet Survey
        </div>
        <div class="card-body">
          This survey is about changes in the meal timetable within the company.
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-primary">Fill survey</button>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Diet Survey
        </div>
        <div class="card-body">
          This survey is about changes in the meal timetable within the company.
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-primary">Fill survey</button>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Diet Survey
        </div>
        <div class="card-body">
          This survey is about changes in the meal timetable within the company.
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-primary">Fill survey</button>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Diet Survey
        </div>
        <div class="card-body">
          This survey is about changes in the meal timetable within the company.
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-primary">Fill survey</button>
          </div>
        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->

</div>
