<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form [formGroup]="registerCompany" (ngSubmit)="onSubmit()">
                                <strong>Register Company</strong>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="company">Company Name</label>
                                        <input type="text" formControlName="company_name" class="form-control" id="company" placeholder="Enter your company name" [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }" required>
                                        <div *ngIf=" submitted && f.company_name.errors" class="invalid-feedback">
                                            <div *ngIf=" submitted && f.company_name.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="vat">Company Head</label>
                                        <input type="text" formControlName="company_head" class="form-control" id="vat" placeholder="CEO, CFO..." [ngClass]="{ 'is-invalid': submitted && f.company_head.errors }" required>
                                        <div *ngIf=" submitted && f.company_head.errors" class="invalid-feedback">
                                            <div *ngIf=" submitted && f.company_head.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="street">Company Size</label>
                                        <input type="text" formControlName="company_size" class="form-control" id="street" placeholder="Enter street name" [ngClass]="{ 'is-invalid': submitted && f.company_size.errors }" required>
                                        <div *ngIf=" submitted && f.company_size.errors" class="invalid-feedback">
                                            <div *ngIf=" submitted && f.company_size.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!registerCompany.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                    <button type="reset" class="btn btn-sm btn-danger" (click)="onReset()"><i class="fa fa-ban"></i> Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>