<div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
          <strong>Survey</strong>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" placeholder="Enter your company name">
          </div>
          <div class="form-group">
            <label for="vat">VAT</label>
            <input type="text" class="form-control" id="vat" placeholder="PL1234567890">
          </div>
          <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" placeholder="Enter street name">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Country name">
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
</div>
