<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-dark">
        <div class="card-body pb-0">
          <div class="text-value">12000</div>
          <div>Employees</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-dark">
        <div class="card-body pb-0">
          <div class="text-value">124</div>
          <div>Surveys</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-dark">
        <div class="card-body pb-0">
          <div class="text-value">220</div>
          <div>Survey Results</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Surveys &amp; Responses
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">Excited</small>
                    <br>
                    <strong class="h4">9,123</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Happy</small>
                    <br>
                    <strong class="h4">22,643</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Neutral</small>
                    <br>
                    <strong class="h4">22,643</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Sad</small>
                    <br>
                    <strong class="h4">78,623</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Angry</small>
                    <br>
                    <strong class="h4">22,643</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
              <div class="progress-group">
                <div class="progress-group-header">
                  <i class="icon-user progress-group-icon"></i>
                  <div>Male</div>
                  <div class="ml-auto font-weight-bold">43%</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-5">
                <div class="progress-group-header">
                  <i class="icon-user-female progress-group-icon"></i>
                  <div>Female</div>
                  <div class="ml-auto font-weight-bold">37%</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Survey</th>
                <th class="text-center">Excited</th>
                <th class="text-center">Happy</th>
                <th class="text-center">Neutral</th>
                <th class="text-center">Sad</th>
                <th class="text-center">Angry</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>Menu changes</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <div>100</div>
                </td>
                <td class="text-center">
                  <div>80</div>
                </td>
                <td class="text-center">
                  <div>20</div>
                </td>
                <td class="text-center">
                  <div>40</div>
                </td>
                <td class="text-center">
                  <div>10</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>New system</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <div>100</div>
                </td>
                <td class="text-center">
                  <div>80</div>
                </td>
                <td class="text-center">
                  <div>20</div>
                </td>
                <td class="text-center">
                  <div>40</div>
                </td>
                <td class="text-center">
                  <div>10</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>New rules</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <div>100</div>
                </td>
                <td class="text-center">
                  <div>80</div>
                </td>
                <td class="text-center">
                  <div>20</div>
                </td>
                <td class="text-center">
                  <div>40</div>
                </td>
                <td class="text-center">
                  <div>10</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Pay cuts</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <div>100</div>
                </td>
                <td class="text-center">
                  <div>80</div>
                </td>
                <td class="text-center">
                  <div>20</div>
                </td>
                <td class="text-center">
                  <div>40</div>
                </td>
                <td class="text-center">
                  <div>10</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
